/* Background colors are placeholder for easier viewing */
.root-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px auto;
  grid-template-areas:
  "hd hd hd hd"
  "mn mn mn sd";
  height: 100vh;
  width: 100vw;
}

.header {
  grid-area: hd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: lightseagreen;
}

.main-grid {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: mn;
  background-color: ghostwhite;
}

.sidebar-grid {
  padding: 20px;
  height: 100%;
  display: grid;
  grid-area: sd;
  grid-template-rows: 100px repeat(3, 1fr); /* 4 equal height rows */
  row-gap: 20px;
  background-color: lightcoral
}

.sidebar-item {
  padding: 10px;
  /* height: 100%; */
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}